body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin: 20px auto;
  color: #555;
}

.navbar, .navbar-inverse {
  border-radius: 0px;
}

.center {
  display: block;
  margin: 20px auto;
}

.extra-margin {
  margin: 30px 0;
}

.form-control {
  border-radius: 0;
}

#logo {
  margin-bottom: -15px;
}

#signin {
  margin: 10px 0;
  padding-left: 13px;
}

#submit {
  width: 100%;
  background-color: #f0c14b;
  margin: 10px 0;
  transition: color 0.2s ease;
}

#submit:hover{
  color: #fff;
}

.a-icon {
  width: 10px;
  height: 10px;
  background-position: -364px -84px;
  position: absolute;
  top: 93%;
  margin-top: -4px;
  left: 6px;
  background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
}

.a-icon::after {
  display: inline-block;
}

#help {
  font-size: 12px;
  margin-left: 0;
}

.signin-box {
  border: 1px solid #ccc;
  border-radius: 0.25em;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #343a40!important;
  color: rgba(255,255,255,0.5);
  border-color: #343a40!important;
  width: 100%;
  height: 38px;
  border-radius: 0.1em;
}

.btn-revise {
  border-color: #a88734 #9c7e31 #846a29!important;
  background-color: #f0c14b!important;
  color: #555;
}

.btn-sub {
  width: 90%;
  border-radius: 9px;
  background-color: #eee;
  transition: background-color 0.2s ease;
}

.btn-sub:hover {
  background-color: #c8def4;
}

.new {
  position: relative;
  text-align: center;
  line-height: 0;
  padding: 0;
}

.new::after{
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-color: transparent;
  margin-top: -14px;
}

.new2 h6{
  text-align: center;
  color: #aaa;
  background-color: #fff;
  margin-top: -24px;
  padding: 0;
}

form label {
  line-height: 1;
}

footer {
  background-color: #343a40!important;
  color: rgba(255,255,255,0.5);
  padding: 25px;
}

#form-foot {
  background: linear-gradient(to bottom,rgba(79, 90, 104, 0.09),rgba(174, 214, 230, 0.13) 3px,#edf1f31a) !important;
}

.foot-wrapper {
  color: #666;
  margin: 2px auto;
  text-align: center;
  padding: 0;
}

/*
for devices under 600px
*/

@media only screen and (max-width: 800px) {
  body {
    background-color: beige;
  }
}
