{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Login - {{ super() }}{% endblock %}

{% block app_content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md">
        <img src="http://placehold.it/103x31" class="center" alt="Logo" id="logo"/>
      </div>
    </div>

    <div class="row extra-margin">
      <div class="col-md-4 col-md-offset-4 signin-box">
        <div class="row">
          <div class="col-md">
            <h2 id="signin">Sign in</h2>
          </div>
        </div>

        {{ wtf.quick_form(form) }}

        <div class="col-md">
          <a href="#">
            <i class="a-icon"></i>
            <span id="help">Forgot?</span>
          </a>
        </div>
      </div> <!--emd col-md-4-->
    </div> <!--end main row-->

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 col-md-offset-4 center">
        <div class="row">
          <div class="col-md-4 new"></div>
          <div class="col-md-4 new2">
            <h6>Are you new?</h6>
          </div>
          <div class="col-md-4 new"></div>
        </div>
        <button class="btn btn-sub center">
          <a href="#">Sign up Now!</a>
        </button>
      </div>
      <div class="col-md-4"></div>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
